@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --color-dark:#0B0F19 ;
    --color-primary:#6366F1 ;
    --color-gray: #9397AD;
    --color-white: #FFFFFF;
    --color-yellow: #FFBA08;
    --color-diffrentgray: #585C7B;
    --color-lightergrey: #B4B7C9;

    
    --container-padding: 1rem;
    --transition-time: all 0.2s;

}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgb(0 , 0, 0, 0);
}


body, section, div, header, footer, main, aside, nav, blockquote, p, span{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}



.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}


a{
    color: var(--color-primary);
    text-decoration: none;
}

a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}




.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover{
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}



.btn-download-app{
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-download-app:hover{
    background-color: var(--color-gray);
    color: var(--color-white);
    text-decoration: none;
}



.btn-primary i {
    margin-right: 0.5rem;
}





.btn-mobile{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-cirle {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-white);
    color: var(--color-dark);
}



.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Gör dark mode onsylig för mobil version */
.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-yellow);
}


.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-yellow);
}


.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray);
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round{
    border-radius: 35px;

}

.toggle-switch .slider.round:before {
    border-radius: 50%
}

.navbar {
    display: none;
}


.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}


header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo sw mobile";
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


footer {
   font-size: 14px;
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: var(--color-gray);
   text-align: center; 

    .container{
        display: flex;
        flex-direction: column; /* Gör så att elementen staplas vertikalt */
        justify-content: center;
        align-items: center; /* Centrera innehållet horisontellt*/
        gap: 5px;
    }

    .credit {
        display: block;
        
    }

   

}



#hero {
    background: rgb(241,246,217);
    background: linear-gradient(0deg, rgba(241,246,217,0.9220063025210083) 14%, rgba(225,237,120,0.48503151260504207) 42%, rgba(0,212,255,0) 83%);
    padding-bottom: 2rem;

    .container {

    }


    .headline {
        text-align: center;
        h1{
        font-size: 34px;
        font-weight: 800;
        

        @media(min-width: 768px){
            font-size: 56px;
        }

        }
    }

    .content {
        text-align: center;

        p{
          font-size: 18px;
          margin-bottom: 3rem;
          color: var(--color-diffrentgray);
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        
        .discover-more{
            color: var(--color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;;
            margin-top: 2rem;
    
        }

  
 
    }
    
}
#page2 {

    .headline2 {
        text-align: center; /* Vänsterjustera rubriken */
        width: 100%;
        margin-bottom: 1.5rem;
        h1 {
            font-size: 27px;
            font-weight: 800;
        }
    }

    .content2 {
        text-align: center; /* Vänsterjustera texten */
        width: 100%;
        p {
          font-size: 18px;
          margin-bottom: 2rem;
          color: var(--color-diffrentgray);
          
        }
    }

    .feature {
        display: flex;
        flex-direction: column; /* Placera alla element vertikalt */
        align-items: flex-start; /* Justera till vänster */
        margin-bottom: 0.5rem; /* Avstånd mellan varje feature */
    }
    
    .item {
        display: flex; /* Flexbox för logotyp och rubrik */
        align-items: flex-start; /* Håll logotyp och rubrik i samma höjd */
        gap: 10px; /* Mellanrum mellan logotyp och rubrik */
        width: 100%; /* För att styra bredden */
    }
    
    .feature-title {
        font-size: 20px;
        font-weight: 800;
        margin: 0; /* Ta bort onödigt marginalutrymme */
        line-height: 1.2; /* Justera radavståndet för rubriken */
    }
    
    .feature-text {
        font-size: 16px;
        color: var(--color-diffrentgray); /* Färg för texten */
        padding-left: 70px; /* Ingen padding-vänster behövs */
        top: -30px; /* Flytta upp texten för att vara mer vertikalt i linje med logotypen */
        position: relative;
    }
    
    img {
        max-height: 60px; /* Anpassa storleken på logotypen för att matcha rubrikens höjd */
        width: auto; /* Bevara bildens proportioner */
    }
    

    
}

#page3 {
   
    background-color: rgba(241, 246, 217, 0.5);
    padding-bottom: 2rem;
    

    .headline3 {
        text-align: center;
        width: 100%;
    }
    
    
    .mobile-theme{
        
        width: 270px;
        height: 545px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    
    .headline3 {
        text-align: center;
        h1{
        font-size: 27px;
        font-weight: 800;
        }
    }
    
    
    .text{
        text-align: center;
        h1{
            font-size: 27px;
    
        }
    
        p{
            font-size: 18px;
            color: var(--color-diffrentgray);
        }
    
    }
    

}


#FAQ {
    .headline {
        text-align: center;
        
        h1 {
            font-size: 24px;
            font-weight: 800;
        }
    }

    .content {
        text-align: center;

        p {
            font-size: 18px;
            color: var(--color-diffrentgray);
        }
    }

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-top: 20px;

        .question-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            border: 1px solid #E2E5F1; 
            padding: 10px;
            border-radius: 10px 10px 0 0; 
           
            max-width: 400px; 

        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0; /* Tar bort extra utrymme ovanför och under texten */
        }

        .btn-pill {
            font-size: 1.5rem;
            color: var(--color-gray);
        }
    }

    .textsbox {
        display: flex;
        flex-direction: column;
        align-items: center; 
        border: 1px solid #E2E5F1; 
        max-width: 400px; 
        width: 100%; 
        text-align: left; /* Centrera texten i boxen */
        margin: -1px auto 0; /* Ta bort avstånd ovanför, sätt ett negativt värde för att undvika gap */
        padding: 10px; /* Justera inre padding för att minska utrymmet */
        
    }
    
    .textsbox p {
        border: none; /* Ta bort ram runt varje paragraf */
        margin: 5px 0; /* Minska mellanrum mellan paragrafer */
        padding: 0.5px; /* Inre padding för att ge utrymme */
        font-size: 14px;
        color: var(--color-diffrentgray);
        margin-bottom: 25px;
    }

    .texts2 {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center; 
        

        .question-wrapper2 {
            display: flex;
            align-items: center;
            justify-content: space-between; 
            border-bottom: none;
            padding: 10px;
            max-width: 400px; 
            position: relative; 
        }

        .question-wrapper2::before {
            content: '';
            position: absolute;
            bottom: 0; /* Startar från botten */
            left: 0;
            width: 1px; /* Bredd på den vänstra kanten */
            height: 50%; /* Halva vänsterkanten */
            background-color: #E2E5F1; /* Färg på kantlinjen */
        }

        .question-wrapper2::after {
            content: '';
            position: absolute;
            bottom: 0; /* Startar från botten */
            right: 0;
            width: 1px; /* Bredd på den högra kanten */
            height: 50%; /* Halva högerkanten */
            background-color: #E2E5F1; /* Färg på kantlinjen */
        }


        h1 {
            padding-top: 10px;
            font-size: 1rem;
            font-weight: 600;
            margin: 0; /* Tar bort extra utrymme ovanför och under texten */
        }

        .btn-pill {
            font-size: 1.5rem;
            color: var(--color-gray);
            position: absolute; /* Absolut placering av ikonen */
            right: 10px; /* Justera detta värde för att placera den nära högerkanten */
            top: 50%; /* Centrerar ikonen vertikalt */
            transform: translateY(-50%); /* För att hålla ikonen precis i mitten vertikalt */
        }
    
    }

    .texts3 {
        display: flex;
        flex-direction: column;
        align-items: center; 
        
    
        .question-wrapper3 {
            display: flex;
            align-items: center; 
            justify-content: space-between; 
            border: 1px solid #E2E5F1; 
            border-top: none;
            padding: 10px;
            max-width: 400px; 
            width: 100%; 
        }
    
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0; /* Tar bort extra utrymme ovanför och under texten */
            padding-bottom: 10px;
            padding-top: 10px;
            flex-grow: 1; /* Gör så att h1 tar upp så mycket utrymme som möjligt */
        }
    
        .btn-pill {
            font-size: 1.5rem;
            color: var(--color-gray);
            margin-left: 10px; /* Lägg till lite avstånd mellan text och ikon */
            display: flex;
            align-items: center; /* Centrerar ikonen vertikalt inom sin behållare */
        }
    }

    .texts4 {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrerar allt innehåll horisontellt */
        margin-top: 0px;
    
        .question-wrapper4 {
            display: flex;
            align-items: center; 
            justify-content: space-between; 
            border: 1px solid #E2E5F1; 
            margin: -1px auto 0; /* Ta bort avstånd ovanför, sätt ett negativt värde för att undvika gap */
            padding: 10px;
            max-width: 400px; 
            width: 100%; 
        }
    
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0; /* Tar bort extra utrymme ovanför och under texten */
            padding-top: 10px;
            padding-bottom: 10px;
            flex-grow: 1; /
        }
    
        .btn-pill {
            font-size: 1.5rem;
            color: var(--color-gray);
            margin-left: 10px; /* Lägg till lite avstånd mellan text och ikon */
            display: flex;
            align-items: center; /* Centrerar ikonen vertikalt inom sin behållare */
        }
    }

    .texts5 {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrerar allt innehåll horisontellt */
        margin-top: 0px;
    
        .question-wrapper5 {
            display: flex;
            align-items: center; /* Justerar texten och ikonen vertikalt i mitten */
            justify-content: space-between; /* Frågan och ikonen på samma rad */
            border: 1px solid #E2E5F1; /* Ger en box med tunn ram */
            margin: -1px auto 0; /* Ta bort avstånd ovanför, sätt ett negativt värde för att undvika gap */
            padding: 10px;
            max-width: 400px; /* Maximal bredd på boxen */
            width: 100%; 
        }
    
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0; /* Tar bort extra utrymme ovanför och under texten */
            padding-top: 10px;
            padding-bottom: 10px;
            flex-grow: 1; /* Gör så att h1 tar upp så mycket utrymme som möjligt */
        }
    
        .btn-pill {
            font-size: 1.5rem;
            color: var(--color-gray);
            margin-left: 10px; /* Lägg till lite avstånd mellan text och ikon */
            display: flex;
            align-items: center; /* Centrerar ikonen vertikalt inom sin behållare */
        }
    }


    .texts6 {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrerar allt innehåll horisontellt */
        margin-top: 0px;
        padding-bottom: 40px;
    
        .question-wrapper6 {
            display: flex;
            align-items: center; /* Justerar texten och ikonen vertikalt i mitten */
            justify-content: space-between; /* Frågan och ikonen på samma rad */
            border: 1px solid #E2E5F1; /* Ger en box med tunn ram */
            margin: -1px auto 0; /* Ta bort avstånd ovanför, sätt ett negativt värde för att undvika gap */
            padding: 10px;
            max-width: 400px; /* Maximal bredd på boxen */
            width: 100%; /* Säkerställer att boxen fyller hela förälderns bredd */
            border-radius: 0 0 10px 10px; /* Rundade hörn uppe, vanliga kanter nere */
        }
    
        h1 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0; 
            padding-top: 10px;
            padding-bottom: 10px;
            flex-grow: 1; 
        }
    
        .btn-pill {
            font-size: 1.5rem;
            color: var(--color-gray);
            margin-left: 10px; 
            display: flex;
            align-items: center; 
        }

        
    }

    .btn-contactus{
        padding-top: 10px;
        color: var(--color-white);
        border-radius: 8px;
        padding: 12px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .btn-contactus{
        padding-top: 10px;
        color: var(--color-white);
        text-decoration: none;
    }

}











